body {
    background-image: url(https://images.pexels.com/photos/2054144/pexels-photo-2054144.jpeg?cs=srgb&dl=pexels-apasaric-2054144.jpg&fm=jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

.container {
    max-width: 700px;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-style: oblique;
}


.formula {
    font-size: 22px;
    margin: 20px 0;
    font-style: italic;
}

.converter-box {
    margin-top: 30px;
    padding: 20px;
    background-color: #2b2b2b;
    border-radius: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    color: aliceblue;
}

input {
    width: 80%;
    padding: 10px;
    font-size: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 20px
   
}

#result {
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
}

